:host {
  min-height: 100%;
  margin: 0;
  display: flex;
}

.bowling-app-main-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: var(--air-superiority-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
