:root {
  --barn-red: #780000;
  --fire-brick: #c1121f;
  --baby-powder: #fffcf7;
  --prussian-blue: #003049;
  --air-superiority-blue: #669bbc;
  --air-superiority-blue80: #669bbc80;
  --light-gray: #929292;
}
